<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildType</key>
	<string>beta</string>
	<key>app_name</key>
	<string>我爱我乡</string>
	<key>group_name</key>
	<string>CMPZjLifeMobile</string>
	<key>platform_name</key>
	<string>ios</string>
	<key>src_name</key>
	<string>AppStore</string>
	<key>resourceBundleName</key>
	<string>xl_native.bundle</string>
	<key>startAppDelegate</key>
	<string>CMPZjLifeMobileAppDelegate</string>
	<key>rootViewController</key>
	<string>CMPZjLifeMobileRootViewController</string>
	<key>interfaceVersion</key>
	<string>1.0</string>
	<key>adressType</key>
	<string>1</string>
</dict>
</plist>
