<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildType</key>
	<string>beta</string>
	<key>app_name</key>
	<string>我爱我乡</string>
	<key>group_name</key>
	<string>CMPZjLifeMobile</string>
	<key>platform_name</key>
	<string>ios</string>
	<key>src_name</key>
	<string>AppStore</string>
	<key>resourceBundleName</key>
	<string>xl_native_toB.bundle</string>
	<key>startAppDelegate</key>
	<string>XlNativeToBDelegate</string>
	<key>rootViewController</key>
	<string>TBRootViewController</string>
	<key>interfaceVersion</key>
	<string>1.0</string>
	<key>adressType</key>
	<string>1</string>
	<key>ljhH5url</key>
	<dict>
		<key>personalcenter_wodewuyefei</key>
		<string>%@/html/wyPay/index.html#/wyPayLog?fromw=pcenter</string>
		<key>community_detial</key>
		<string>%@/html/mycommunity/index.html#/commDes?communityId=%@</string>
		<key>setup_aboutus</key>
		<string>%@/html/etc/index.html#/about</string>
		<key>setup_useragreement</key>
		<string>%@/html/etc/index.html#/agreement</string>
		<key>personalcenter_msglist</key>
		<string>%@/html/myMsg/index.html#/msgGeneral</string>
		<key>personalcenter_dizhibu</key>
		<string>%@/html/personalCenter/index.html#/myAddress</string>
		<key>personalcenter_yujian</key>
		<string>%@/html/myTopic/index.html#/main</string>
		<key>personalcenter_meitian</key>
		<string>%@/html/activity/index.html#/main</string>
		<key>personalcenter_wodebaoxiu</key>
		<string>%@/html/fix/index.html#/my_fix</string>
		<key>personalcenter_wodejianyi</key>
		<string>%@/html/suggest/index.html#/mySuggest</string>
		<key>personalcenter_wodefangwu</key>
		<string>%@/html/myhouse/index.html#/main</string>
		<key>personalcenter_shequgonggao</key>
		<string>%@/html/notice/index.html#/main?communityId=%@&amp;communityName=%@</string>
		<key>personalcenter_wodexiaoqu</key>
		<string>%@/html/mycommunity/index.html</string>
		<key>baseShoppingDetailUrl</key>
		<string>%@/html/ds/index.html#/goodsDetail?from=phone&amp;goodsSkuId=%@</string>
		<key>shoppingCarUrl</key>
		<string>%@/html/ds/index.html#/goodsCart?from=phone</string>
	</dict>
	<key>baseBusinessH5</key>
	<string>%@/html/etc/index.html#/addetails?informationNumber=%@&amp;businessType=%@</string>
	<key>baseNoticeUrl</key>
	<string>%@/html/notice/index.html#/notice_detail?from=phone&amp;id=%@</string>
	<key>dealForUser</key>
	<string>%@/html/etc/index.html#/agreement</string>
	<key>h5_whitelist</key>
	<array>
		<string>config-wg.cm-dev.cn</string>
		<string>10.16.199.64:3002</string>
		<string>ljhui-h5.cmuat.com</string>
		<string>hjyh.cm-zj.com</string>
		<string>test-wg.cm-dev.cn</string>
		<string>ljhui-h5.cmlejia.com</string>
		<string>ljhui-h5.cm-dev.cn</string>
	</array>
	<key>baseCommunityIntroduceUrl</key>
	<string>%@/html/notice/index.html#/notice_detail?from=phone&amp;id=</string>
	<key>baseGoodDetialUrl</key>
	<string>%@/html/ds/index.html#/goodsDetail?from=phone&amp;goodsSkuSn=%@</string>
</dict>
</plist>
